@import "tailwindcss";
/*@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');*/
.custom-toast {
  background: rgba(31, 6, 40, 0.85);
  border-left: 5px solid #ec4899;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  color: #fff;
  box-shadow: 0 0 20px rgba(236, 72, 153, 0.3);
}
